html{
  height: 100%;
}

body {
	padding: 0 25px;
}

.button-bar {
	vertical-align: center;
	text-align: center;
	margin: 0 auto;
	padding: 0.5em;
	width: 100%;
}

.button-bar .button {
	margin: 7.5px;
}

.active {
  background-color: #434343;
  color: white;
}

#nav-hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.page {
	bottom: 0; 
	padding-top: 1em;
	position: static; 
	text-align: center;
	top: 0;  
	width: 100%; 
	display: inline-block;
}

.home {
	background: white;
	color: #555;
}

.work {
	background: white;
	color: #555;
}

.about {
	background: white;
	color: #555;
}

/*Drop Shadow Effect*/
.shadow-shallow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.shadow-deep {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}