html{
  height: 100%;
}

body {
	padding: 0 25px;
}

.nameplate {
	font-size: 4rem;
	color: #434343;
}

#nav-p {
	margin: 0;
}

.button-bar {
	display: inline-block;
	vertical-align: center;
	text-align: center;
	margin: 0 auto;
	padding: 0.5em;
	width: 100%;
}

.button-bar .button {
	margin: 7.5px;
}

.active {
  background-color: #434343;
  color: white;
}


#nav-hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.page {
	bottom: 0; 
	padding-top: 1em;
	position: static; 
	text-align: center;
	top: 0;  
	width: 100%; 
	display: inline-block;
}

/*Home Page CSS-------------------------------------*/
.home {
	background: white;
	color: #555;
}

#home-welcome {
	margin-left: -14rem;
	font-size: 5rem;
	margin-bottom: 0;
}

.home-wrapper {
	width: 100%;
	position: relative;
	margin: 0 auto;
	padding: 10px;
}

.home-sentence {
	margin-left: -21rem;
	text-align: center;
}

.home-sentence span {
	white-space: nowrap;

}

.home-words {
	display: inline;
	text-indent: 1rem;
}

.home-words span {
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 100%;
	text-align: left;
}

/*Work Page CSS-------------------------------------*/
.work {
	background: white;
	color: #555;
}

/*About Page CSS-------------------------------------*/
.about {
	background: white;
	color: #555;
}

/*Drop Shadow Effect*/
.shadow-shallow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.shadow-deep {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}