<div class="about page animated fadeInUp">
	<h1>About Me</h1>
	<div class="container">
				<div class="animated zoomIn" id="profile-pic">
					<img src="./images/profile04.jpeg">
				</div>
				<hr>
		<div class="row">
			<div class="six columns">
				<p class="header-p">Bio</p>
				<div id="about-info">
					<p>
						Hello!  My name is Matthew Butt and I'm a web developer!  I believe in clean code and thoughtful user experience and interface.  I love to create things that make life a little easier and more fun for others.
					</p>
					<p>
						Outside of coding I love to spend time with my wife and daughter.  I also enjoy tabletop games, taking pictures, video games, and playing guitar.
					</p>
					<p>
						Thanks for checking out my site, and if you have any web dev needs or want to talk about one of my portfolio projects please feel free to <a href="mailto:contact@mattbutt.com?subject=Dropped in from mattbutt.com to say hi!">contact me</a>!
					</p>

					<div class="contact-bar">
						<a href="mailto:contact@mattbutt.com?subject=Dropped in from mattbutt.com to say hi!"><img src="./images/emailicon.png"></a>

						<a target="_blank" href="https://github.com/matthewybutt"><img src="./images/GitHub.png"></a>

						<a target="_blank" href="https://www.linkedin.com/in/matthewybutt"><img src="./images/LinkedIn.png"></a>
					</div>
				</div>

			</div>
			<div class="six columns about-skills">
				<p class="header-p"> Skills </p>
				<table class="u-full-width about-table">
<!-- 					<thead>
						<tr>
							<th>Languages</th>
							<th>Frameworks</th>
							<th>Other</th>
						</tr>
					</thead> -->
					<tbody>
						<tr>
							<td>JavaScript</td>
							<td>React</td>
							<td>Redux</td>
						</tr>
						<tr>
							<td>Node.js</td>
							<td>AngularJS</td>
							<td>MongoDB</td>
						</tr>
						<tr>
							<td>HTML5</td>
							<td>ExpressJS</td>
							<td>Git</td>
						</tr>
						<tr>
							<td>CSS3</td>
							<td>Bootstrap</td>
							<td>MVC Architecture</td>
						</tr>
						<tr>
							<td>Ruby</td>
							<td>Ruby on Rails</td>
							<td>PostgreSQL</td>
						</tr>
						<tr>
							<td>jQuery</td>
							<td>Skeleton</td>
							<td>Docker</td>
						</tr>
						<tr>
							<td>Wordpress</td>
							<td>Sass</td>
							<td>AWS</td>
						</tr>
						<tr>
							<td>Heroku</td>
							<td>GitHub</td>
							<td>Agile Methodlogy</td>
						</tr>
						<tr id="last-row">
							<td>Heroku</td>
							<td>Paperclip</td>
							<td></td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
		<br>
		<br>
		<br>
		<!-- <p id="copyright">© Matthew Butt, 2015</p> -->
	</div>
</div>
