<div class="home page animated fadeInUp">
	<div class="home-title">
		<p id="home-name">matt butt</p>
		<div id="home-line"> 
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		<p id="home-wd">web developer</p>
		<section class="home-wrapper" >
			<h4 class="home-sentence">
				<span> what can we </span>
				<div class="home-words">
					<span> create that inspires? </span>
					<span> develop that's fun? </span>
					<span> build for the future? </span>
					<span> make that helps others? </span>
				</div>
			</h4>
		</section>
	</div>
	<div class="home-bkgrd"></div>
</div>	