<div class="work page animated fadeInUp">
	<h1>Portfolio</h1>
		<div ng-repeat="project in vm.projects">
			<div class="image-container">
				<!-- <a target="_blank" href="http://matthewybutt.github.io/bugs_on_a_rug/"><img src="./images/bugs.png"></a> -->			
				<a target="_blank" href={{project.siteLink}}>
					<img id="bugsGif" ng-src={{project.gif}}>
					<img id="laptop" src="./images/laptop.png">
				</a>
			</div>
			<div class="work-description">
				<p id="title">{{project.title}}
					<a target="_blank" href={{project.githubLink}}><img src="./images/GitHub.png"></a>
					<a target="_blank" href={{project.siteLink}}><img src="./images/externallink.png"></a>
				</p>
				<p>{{project.description}}</p>
				<p>{{project.ga}}</p>
				<p> <span style="font-weight:bold">Technologies Used:</span> {{project.tech}}</p>
			</div>

			<div class="{{project.lineClass}}" id="{{project.lineID}}"></div>
		</div>

</div>